% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}
        <form class="navbar-form navbar-right">
            <input type="text" name="location" class="form-control" placeholder="Search...">
            <input type="submit" id="submit">
          </form>   
      </div>
    </nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Albert</h4>
              <span class="text-muted">500 204 km</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>John</h4>
              <span class="text-muted">489 950 km</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Zack</h4>
              <span class="text-muted">456 796 km</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Smith</h4>
              <span class="text-muted">329 879  km</span>
            </div>
          </div>

          <h2 class="sub-header">All users</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>User id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Location</th>
                  <!-- <th>km</th> -->
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.location }}</td>
                  <!-- <td>1200 km</td> -->
                </tr>
                {% endfor %}
                <!-- {% for userOne in oneItem %}
                <tr>
                  <td>{{userOne.id}}</td>
                  <td>{{userOne.username}}</td>
                  <td>{{userOne.email}}</td>
                  <td>{{userOne.location}}</td>
                  <td>1200 km</td>
                </tr>
                {% endfor %} -->
              </tbody>
            </table>            
          </div>

          <h2 class="sub-header">Users from {{inputValue}}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>User id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Location</th>
                  <!-- <th>km</th> -->
                </tr>
              </thead>
              <tbody>
                {% for userOne in oneItem %}
                <tr>
                  <td>{{userOne.id}}</td>
                  <td>{{userOne.username}}</td>
                  <td>{{userOne.email}}</td>
                  <td>{{userOne.location}}</td>
                  <!-- <td>1200 km</td> -->
                </tr>
                {% endfor %}
                </tbody>
            </table>            
          </div>
        </div>
      </div>
    </div>
{% endblock %}
